pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
pypdf
langchain-huggingface
faiss-cpu
langchain-pinecone 
langchain_google_genai
wikipedia
youtube_search
langgraph
chromadb
langchain-chroma
langchain-tavily
tavily-python
sentence-transformers